In [15]:
import plotly
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
%matplotlib inline

In [19]:
m67 = pd.read_csv('M67_PRF.dat')
m67 = m67.rename(columns={'F6':'P_F6', 'F8':'P_F8', 'F10':'P_F10', 'phot_g_mean_mag':'g_mag'})
ngc188 = pd.read_csv('NGC188_PRF.dat')
ngc188 = ngc188.rename(columns={'F6':'P_F6', 'F8':'P_F8', 'F10':'P_F10', 'phot_g_mean_mag':'g_mag'})

In [23]:
ngc188[(ngc188['P_F6']==0)&(ngc188['P_F8']==0)&(ngc188['P_F10']==0)]

,source_id,ra,dec,g_mag,g_rp,qf,P_F6,P_F8,P_F10,mem_prob,Class
0,573929229861085696,12.013243,85.015773,18.791903,0.884779,1,0.0,0.0,0.0,0,0
1,573929298580566784,12.341595,85.019994,20.707184,0.838358,1,0.0,0.0,0.0,0,0
2,573929298580698752,12.227166,85.026475,19.857271,1.161034,1,0.0,0.0,0.0,0,0
3,573929332940301440,12.071372,85.015049,17.994061,0.563145,1,0.0,0.0,0.0,0,0
5,573929337234861056,12.103019,85.020816,18.709524,0.571301,1,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2120,573775646124236416,14.384716,85.316964,20.047743,1.151291,1,0.0,0.0,0.0,0,0
2121,573775646125159808,14.278919,85.318569,20.320679,1.194548,1,0.0,0.0,0.0,0,0
2125,573777192314202240,14.204447,85.343050,18.282837,0.491779,1,0.0,0.0,0.0,0,0
2127,573777226673940096,14.220703,85.347408,16.929413,0.583414,1,0.0,0.0,0.0,0,0
2128,573777329753151616,14.218155,85.360923,17.137196,0.577921,1,0.0,0.0,0.0,0,0

In [25]:
m67[(m67['P_F6']==0)&(m67['P_F8']==0)&(m67['P_F10']==0)].shape

(26, 11)

In [32]:
m67[m67['Class']==0]

,source_id,ra,dec,g_mag,g_rp,qf,P_F6,P_F8,P_F10,mem_prob,Class
0,604897391469141632,132.930610,11.670291,16.243813,0.455221,1,0.000000,0.000027,0.000000,0,0
3,604897803786032768,132.823281,11.660013,13.424560,0.454341,1,0.000000,0.000251,0.005556,0,0
5,604897833851378688,132.840798,11.652739,17.843273,1.199356,1,0.011111,0.006264,0.005564,0,0
7,604897838145769472,132.839848,11.652364,13.516213,0.410555,1,0.000000,0.000251,0.005557,0,0
8,604897902569548160,132.826027,11.661815,17.968378,0.903330,1,0.000000,0.000425,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...
708,604969546919528704,132.757530,11.935009,17.005489,0.502920,1,0.000000,0.000089,0.005556,0,0
709,604969581279257088,132.782275,11.941893,15.456308,0.451068,1,0.000000,0.000027,0.000000,0,0
710,604969611343663744,132.795107,11.952803,18.189999,0.891325,1,0.000000,0.028213,0.000000,0,0
718,604971127467656192,132.819097,11.966111,19.299692,1.150331,1,0.311111,0.272065,0.272693,0,0
719,604971157532112768,132.788468,11.969207,20.117455,1.168648,1,0.205556,0.233419,0.244849,0,0

In [ ]:
m